<system>
	<mode>
		<type>0</type>
	</mode>
	<statemachine>
		<name>OverallFSM</name>
		<primaddress>300</primaddress>
		<auxaddress>62</auxaddress>
		<offset>2</offset>
		<state>
			<name>Idle</name>
			<value>0</value>
		</state>
		<state>
			<name>Energized</name>
			<value>1</value>
		</state>
		<state>
			<name>Drive</name>
			<value>2</value>
		</state>
		<state>
			<name>Fault</name>
			<value>3</value>
		</state>
	</statemachine>
	<systemcontrols>
		<control>
			<name>Valve</name>
			<type>slider</type>
			<minrange>0</minrange>
			<maxrange>100</maxrange>
			<multiplier>0.04</multiplier>
			<usbchannel>0</usbchannel>
		</control>
		<control>
			<name>Brake</name>
			<type>button</type>
			<primaddress>301</primaddress>
			<auxaddress>60</auxaddress>
			<offset>1</offset>
			<pressvalue>1</pressvalue>
			<releasevalue>0</releasevalue>
		</control>
		<control>
			<name>MC Tests</name>
			<type>textfield</type>
			<primaddress>301</primaddress>
			<auxaddress>52</auxaddress>
			<offset>8</offset>
		</control>
	</systemcontrols>
	<systemstatus>
		<name>Brake</name>
		<primaddress>300</primaddress>
		<auxaddress>61</auxaddress>
		<offset>1</offset>
		<value>1</value>
	</systemstatus>
	<systemstatus>
		<name>Throttle</name>
		<primaddress>300</primaddress>
		<auxaddress>60</auxaddress>
		<offset>1</offset>
		<value>1</value>
	</systemstatus>
	<systemstatus>
		<name>Speed Lock</name>
		<primaddress>300</primaddress>
		<auxaddress>59</auxaddress>
		<offset>1</offset>
		<value>1</value>
	</systemstatus>
	<response>
		<id>0</id>
		<description>Ignore Event</description>
	</response>
	<response>
		<id>1</id>
		<description>Writing to GPIO pin</description>
		<gpiopin>20</gpiopin>
		<gpioval>1</gpioval>
	</response>
	<response>
		<id>7</id>
		<description>Turn off PIN 20</description>
		<gpiopin>20</gpiopin>
		<gpioval>0</gpioval>
	</response>
	<response>
		<id>2</id>
		<description>Writing to CAN and GPIO</description>
		<gpiopin>4</gpiopin>
		<primaddress>123</primaddress>
		<auxaddress>0</auxaddress>
		<offset>32</offset>
		<gpioval>1</gpioval>
		<canval>345</canval>
	</response>
	<response>
		<id>3</id>
		<description>Writing to CAN</description>
		<primaddress>345</primaddress>
		<auxaddress>0</auxaddress>
		<offset>32</offset>
		<canval>33</canval>
	</response>
	<response>
		<id>4</id>
		<description>Turn on LED</description>
		<gpiopin>21</gpiopin>
		<gpioval>1</gpioval>
	</response>
	<response>
		<id>5</id>
		<description>Turn off LED</description>
		<gpiopin>21</gpiopin>
		<gpioval>0</gpioval>
	</response>
	<response>
		<id>6</id>
		<description>GLV fault signals</description>
		<gpiopin>21</gpiopin>
		<gpioval>1</gpioval>
	</response>
	<logic>
		<sensorid1>2</sensorid1>
		<sensorid2>1</sensorid2>
		<state>
			<name>Both High</name>
			<val1>1</val1>
			<val2>1</val2>
			<responseid>3</responseid>
		</state>
		<state>
			<name>Val1 High</name>
			<val1>1</val1>
			<val2>0</val2>
			<responseid>4</responseid>
		</state>
		<state>
			<name>Val2 High</name>
			<val1>0</val1>
			<val2>1</val2>
			<responseid>5</responseid>
		</state>
		<state>
			<name>None High</name>
			<val1>0</val1>
			<val2>0</val2>
			<responseid>1</responseid>
		</state>
	</logic>
	<subsystem>
		<name>TSV</name>
		<maxrate>500</maxrate>
		<minrate>3000</minrate>
		<sensors>
			<sensor>
				<id>0</id>
				<name>TSVSensor</name>
				<primaddress>400</primaddress>
				<auxaddress>56</auxaddress>
				<offset>8</offset>
				<checkrate>5000</checkrate>
				<unit>V</unit>
				<main>1</main>
				<minimum>4</minimum>
				<maximum>143</maximum>
				<minresponse>0</minresponse>
				<maxresponse>2</maxresponse>
				<calmultiplier>1</calmultiplier>
			</sensor>
			<sensor>
				<id>1</id>
				<name>TSVMISC</name>
				<primaddress>400</primaddress>
				<auxaddress>48</auxaddress>
				<offset>8</offset>
				<checkrate>6000</checkrate>
				<unit>mA</unit>
				<main>1</main>
				<minimum>34</minimum>
				<maximum>70</maximum>
				<minresponse>1</minresponse>
				<normresponse>7</normresponse>
				<maxresponse>1</maxresponse>
				<calmultiplier>1</calmultiplier>
			</sensor>
		</sensors>
	</subsystem>
	<subsystem>
		<name>COOLING</name>
		<maxrate>500</maxrate>
		<minrate>4000</minrate>
		<sensors>
			<sensor>
				<id>2</id>
				<name>COOLINGOne</name>
				<gpiopin>23</gpiopin>
				<checkrate>7000</checkrate>
				<main>1</main>
				<unit>Celcius</unit>
				<minimum>1</minimum>
				<maximum>4</maximum>
				<normresponse>5</normresponse>
				<minresponse>4</minresponse>
				<maxresponse>5</maxresponse>
				<calmultiplier>2.3</calmultiplier>
				<calpoly>
					<coef>0.9</coef>
					<coef>2.3</coef>
					<coef>2.312</coef>
					<coef>1.2</coef>
				</calpoly>
			</sensor>
		</sensors>
	</subsystem>
	<subsystem>
		<name>TSI</name>
		<maxrate>1000</maxrate>
		<minrate>2000</minrate>
		<bootaddress>20</bootaddress>
		<boottrigger>0</boottrigger>
		<bootconfig>3409</bootconfig>
		<bootconfig>4320</bootconfig>
		<bootmessage>TSI powered up...</bootmessage>
		<sensors>
			<sensor>
				<id>3</id>
				<name>TSITemp</name>
				<primaddress>500</primaddress>
				<auxaddress>56</auxaddress>
				<offset>8</offset>
				<checkrate>4000</checkrate>
				<main>1</main>
				<unit>Celcius</unit>
				<minimum>10</minimum>
				<maximum>40</maximum>
				<minresponse>0</minresponse>
				<maxresponse>3</maxresponse>
				<calmultiplier>4.3</calmultiplier>
			</sensor>
			<sensor>
				<id>8</id>
				<name>Strain Gauge</name>
				<checkrate>5000</checkrate>
				<main>1</main>
				<usbchannel>1</usbchannel>
				<unit>Pounds</unit>
				<minimum>0</minimum>
				<maximum>4</maximum>
				<calmultiplier>-1</calmultiplier>
			</sensor>
			<sensor>
				<id>9</id>
				<name>RPM</name>
				<checkrate>5000</checkrate>
				<main>1</main>
				<usbchannel>0</usbchannel>
				<unit>RPM</unit>
				<minimum>0</minimum>
				<maximum>200</maximum>
				<calmultiplier>-200</calmultiplier>
			</sensor>
		</sensors>
	</subsystem>
	<subsystem>
		<name>GLV</name>
		<maxrate>500</maxrate>
		<minrate>1000</minrate>
		<sensors>
			<sensor>
				<id>4</id>
				<name>GLVCurrent</name>
				<i2caddress>1</i2caddress>
				<i2creadpointer>4</i2creadpointer>
				<i2creadconfig>17927</i2creadconfig>
				<i2cdatafield>16</i2cdatafield>
				<i2creaddelayus>140</i2creaddelayus>
				<checkrate>3000</checkrate>
				<main>0</main>
				<unit>Celcius</unit>
				<minimum>10</minimum>
				<maximum>30</maximum>
				<minresponse>0</minresponse>
				<maxresponse>3</maxresponse>
				<calmultiplier>3.3</calmultiplier>
			</sensor>
			<sensor>
				<id>5</id>
				<name>F1 Fault</name>
				<gpiopin>20</gpiopin>
				<checkrate>4500</checkrate>
				<main>1</main>
				<minimum>0</minimum>
				<maximum>1</maximum>
				<minresponse>0</minresponse>
				<maxresponse>0</maxresponse>
				<calmultiplier>1</calmultiplier>
			</sensor>
			<sensor>
				<id>6</id>
				<name>F2 Fault</name>
				<gpiopin>21</gpiopin>
				<checkrate>5500</checkrate>
				<main>1</main>
				<minimum>0</minimum>
				<maximum>1</maximum>
				<minresponse>0</minresponse>
				<maxresponse>0</maxresponse>
				<calmultiplier>1</calmultiplier>
			</sensor>
			<sensor>
				<id>7</id>
				<name>GLVTemp</name>
				<i2caddress>0</i2caddress>
				<i2creadpointer>64</i2creadpointer>
				<i2creadconfig>262400</i2creadconfig>
				<i2cdatafield>12</i2cdatafield>
				<i2creaddelayus>100</i2creaddelayus>
				<checkrate>5000</checkrate>
				<main>1</main>
				<unit>C</unit>
				<minimum>20</minimum>
				<maximum>50</maximum>
				<minresponse>4</minresponse>
				<maxresponse>5</maxresponse>
				<calmultiplier>9.4</calmultiplier>
			</sensor>
			<sensor>
				<id>9</id>
				<name>GLVBusVoltage</name>
				<i2caddress>1</i2caddress>
				<i2creadpointer>2</i2creadpointer>
				<i2creadconfig>17927</i2creadconfig>
				<i2cdatafield>16</i2cdatafield>
				<i2creaddelayus>140</i2creaddelayus>
				<checkrate>5000</checkrate>
				<main>0</main>
				<unit>V</unit>
				<minimum>0.5</minimum>
				<maximum>5</maximum>
				<calmultiplier>1</calmultiplier>
			</sensor>
			<sensor>
                                <id>10</id>
                                <name>GLVPower</name>
                                <i2caddress>1</i2caddress>
                                <i2creadpointer>3</i2creadpointer>
                                <i2creadconfig>17927</i2creadconfig>
                                <i2cdatafield>16</i2cdatafield>
                                <i2creaddelayus>140</i2creaddelayus>
                                <checkrate>5000</checkrate>
                                <main>0</main>
                                <unit>W</unit>
                                <minimum>0.1</minimum>
                                <maximum>3</maximum>
                                <calmultiplier>1</calmultiplier>
                        </sensor>

		</sensors>
	</subsystem>
	<subsystem>
		<name>MOTOR CONTROLLER</name>
		<maxrate>500</maxrate>
		<minrate>1000</minrate>
		<sensors>
			<sensor>
				<id>8</id>
				<name>Strain Gauge</name>
				<checkrate>5000</checkrate>
				<main>1</main>
				<minimum>0</minimum>
				<maximum>2</maximum>
				<unit>Lbs</unit>
				<calmultiplier>1</calmultiplier>
				<calconstant>1.43</calconstant>
				<usbchannel>1</usbchannel>

			</sensor>
		</sensors>
	</subsystem>
</system>
