<system>
	<mode>
		<type>TEST</type>
	</mode>
	<gpiorate>500</gpiorate>
	<usb7204rate>500</usb7204rate>
	<canrate>125000</canrate>
	<systemcontrols>
		<control>
			<name>Valve</name>
			<type>slider</type>
			<minrange>0</minrange>
			<maxrange>100</maxrange>
			<multiplier>0.04</multiplier>
			<usbchannel>0</usbchannel>
		</control>
		<control>
			<name>Brake</name>
			<type>button</type>
			<primaddress>301</primaddress>
			<auxaddress>60</auxaddress>
			<offset>1</offset>
			<pressvalue>1</pressvalue>
			<releasevalue>0</releasevalue>
		</control>
		<control>
			<name>MC Tests</name>
			<type>textfield</type>
			<primaddress>301</primaddress>
			<auxaddress>52</auxaddress>
			<offset>8</offset>
		</control>
	</systemcontrols>
	<!--systemstatus>
		<name>Brake</name>
		<primaddress>300</primaddress>
		<auxaddress>61</auxaddress>
		<offset>1</offset>
		<value>1</value>
	</systemstatus>
	<systemstatus>
		<name>Throttle</name>
		<primaddress>300</primaddress>
		<auxaddress>60</auxaddress>
		<offset>1</offset>
		<value>1</value>
	</systemstatus>
	<systemstatus>
		<name>Speed Lock</name>
		<primaddress>300</primaddress>
		<auxaddress>59</auxaddress>
		<offset>1</offset>
		<value>1</value>
	</systemstatus-->
	<response>
		<id>0</id>
		<description>Ignore Event</description>
	</response>
	<response>
		<id>1</id>
		<description>Writing to GPIO pin</description>
		<gpiopin>20</gpiopin>
		<gpioval>1</gpioval>
	</response>
	<response>
		<id>7</id>
		<description>Turn off PIN 20</description>
		<gpiopin>20</gpiopin>
		<gpioval>0</gpioval>
	</response>
	<response>
		<id>2</id>
		<description>Writing to CAN and GPIO</description>
		<gpiopin>4</gpiopin>
		<primaddress>123</primaddress>
		<auxaddress>0</auxaddress>
		<offset>32</offset>
		<gpioval>1</gpioval>
		<canval>345</canval>
	</response>
	<response>
		<id>3</id>
		<description>Writing to CAN</description>
		<primaddress>345</primaddress>
		<auxaddress>0</auxaddress>
		<offset>32</offset>
		<canval>33</canval>
	</response>
	<response>
		<id>4</id>
		<description>SCADA Relay Closed</description>
		<gpiopin>21</gpiopin>
		<gpioval>1</gpioval>
	</response>
	<response>
		<id>5</id>
		<description>SCADA Relay Opened</description>
		<gpiopin>21</gpiopin>
		<gpioval>0</gpioval>
	</response>
	<logic>
		<sensorid1>5</sensorid1>
		<sensorid2>6</sensorid2>
		<state>
			<name>Both High</name>
			<val1>1</val1>
			<val2>1</val2>
			<responseid>0</responseid>
		</state>
		<state>
			<name>Val1 High</name>
			<val1>1</val1>
			<val2>0</val2>
			<responseid>0</responseid>
		</state>
		<state>
			<name>Val2 High</name>
			<val1>0</val1>
			<val2>1</val2>
			<responseid>0</responseid>
		</state>
		<state>
			<name>None High</name>
			<val1>0</val1>
			<val2>0</val2>
			<responseid>0</responseid>
		</state>
	</logic>
	<subsystem>
		<name>MOTOR_CONTROLLER</name>
		<maxrate>500</maxrate>
		<minrate>500</minrate>
		<canbroadcast>
			<address>128</address>
			<data>0</data>
			<bytes>1</bytes>
		</canbroadcast>
		<bootsequence>
			<bootcan>
				<address>0</address>
				<data>256</data>
				<bytes>2</bytes>
			</bootcan>
			<bootcan>
				<address>513</address>
				<data>432345564227567616</data>
			</bootcan>
			<bootcan>
				<address>513</address>
				<data>504403158265495552</data>
			</bootcan>
			<bootcan>
				<address>513</address>
				<data>1080863910568919040</data>
			</bootcan>
        	</bootsequence>
		<sensors>
			<sensor>
                                <id>1</id>
                                <name>Controller Temp</name>
                                <primaddress>385</primaddress>
                                <auxaddress>8</auxaddress>
                                <offset>8</offset>
                                <checkrate>6000</checkrate>
                                <unit>C</unit>
                                <main>1</main>
                                <minimum>0</minimum>
                                <maximum>70</maximum>
                                <minresponse>0</minresponse>
				<normresponse>0</normresponse>
                                <maxresponse>0</maxresponse>
                                <calmultiplier>1</calmultiplier>
                        </sensor>
			<sensor>
                                <id>2</id>
                                <name>Motor Temp</name>
                                <primaddress>385</primaddress>
                                <auxaddress>0</auxaddress>
                                <offset>8</offset>
                                <checkrate>6000</checkrate>
                                <unit>C</unit>
                                <main>1</main>
                                <minimum>0</minimum>
                                <maximum>200</maximum>
                                <minresponse>0</minresponse>
                                <normresponse>0</normresponse>
                                <maxresponse>0</maxresponse>
                                <calmultiplier>1</calmultiplier>
                        </sensor>
			<sensor>
                                <id>3</id>
                                <name>DC Link Voltage</name>
                                <primaddress>385</primaddress>
                                <auxaddress>16</auxaddress>
                                <offset>16</offset>
                                <checkrate>6000</checkrate>
                                <unit>V</unit>
                                <main>1</main>
                                <minimum>-1</minimum>
				<endianness>0</endianness>
                                <maximum>200</maximum>
                                <minresponse>0</minresponse>
                                <normresponse>0</normresponse>
                                <maxresponse>0</maxresponse>
                                <calmultiplier>0.1</calmultiplier>
                        </sensor>
			<sensor>
                                <id>4</id>
                                <name>DC Current</name>
                                <primaddress>385</primaddress>
                                <auxaddress>32</auxaddress>
                                <offset>32</offset>
                                <checkrate>6000</checkrate>
                                <unit>A</unit>
                                <main>1</main>
                                <minimum>-1</minimum>
                                <maximum>200</maximum>
                                <minresponse>0</minresponse>
                                <normresponse>0</normresponse>
                                <maxresponse>0</maxresponse>
				<endianness>0</endianness>
                                <calmultiplier>0.001</calmultiplier>
                        </sensor>
			<sensor>
                                <id>5</id>
                                <name>Electric Power</name>
                                <primaddress>641</primaddress>
                                <auxaddress>0</auxaddress>
                                <offset>32</offset>
                                <checkrate>6000</checkrate>
                                <unit>W</unit>
                                <main>1</main>
                                <minimum>-1</minimum>
                                <maximum>100</maximum>
                                <minresponse>0</minresponse>
                                <normresponse>0</normresponse>
                                <maxresponse>0</maxresponse>
                                <calmultiplier>1</calmultiplier>
                        </sensor>
			<sensor>
                                <id>6</id>
                                <name>Actual Velocity</name>
                                <primaddress>641</primaddress>
                                <auxaddress>32</auxaddress>
                                <offset>32</offset>
                                <checkrate>6000</checkrate>
                                <unit>RPM</unit>
                                <main>1</main>
                                <minimum>-2000</minimum>
                                <maximum>2000</maximum>
                                <minresponse>0</minresponse>
                                <normresponse>0</normresponse>
                                <maxresponse>0</maxresponse>
				<endianness>0</endianness>
                                <calmultiplier>0.0002</calmultiplier>
                        </sensor>
			<sensor>
                                <id>7</id>
                                <name>Actual Torque</name>
                                <primaddress>897</primaddress>
                                <auxaddress>0</auxaddress>
                                <offset>16</offset>
                                <checkrate>6000</checkrate>
                                <unit>Nm</unit>
                                <main>1</main>
                                <minimum>-1</minimum>
                                <maximum>2000</maximum>
                                <minresponse>0</minresponse>
                                <normresponse>0</normresponse>
                                <maxresponse>0</maxresponse>
				<endianness>0</endianness>
                                <calmultiplier>0.001</calmultiplier>
                        </sensor>
			<sensor>
                                <id>8</id>
                                <name>Throttle Voltage</name>
                                <primaddress>897</primaddress>
                                <auxaddress>16</auxaddress>
                                <offset>16</offset>
                                <checkrate>6000</checkrate>
                                <unit>V</unit>
                                <main>1</main>
                                <minimum>-1</minimum>
                                <maximum>6</maximum>
                                <minresponse>0</minresponse>
                                <normresponse>0</normresponse>
                                <maxresponse>0</maxresponse>
				<endianness>0</endianness>
                                <calmultiplier>0.001</calmultiplier>
                        </sensor>
		</sensors>
	</subsystem>
	<!--subsystem>
		<name>COOLING</name>
		<maxrate>500</maxrate>
		<minrate>4000</minrate>
		<sensors>
			<sensor>
				<id>9</id>
				<name>COOLINGOne</name>
				<gpiopin>23</gpiopin>
				<checkrate>7000</checkrate>
				<main>1</main>
				<unit>Celcius</unit>
				<minimum>1</minimum>
				<maximum>0</maximum>
				<normresponse>0</normresponse>
				<minresponse>0</minresponse>
				<maxresponse>5</maxresponse>
				<calmultiplier>2.3</calmultiplier>
				<calpoly>
					<coef>0.9</coef>
					<coef>2.3</coef>
					<coef>2.312</coef>
					<coef>1.2</coef>
				</calpoly>
			</sensor>
		</sensors>
	</subsystem-->
	<subsystem>
		<name>TSI</name>
		<maxrate>1000</maxrate>
		<minrate>2000</minrate>
		<bootsequence>
			<bootcan>
				<address>20</address>
				<data>23452</data>
			</bootcan>
			<bootcan>
                                <address>20</address>
                                <data>23542</data>
                        </bootcan>
			<bootcan>
                                <address>20</address>
                                <data>234552</data>
                        </bootcan>
		</bootsequence>
		<statemachine>
			<name> Drive States </name>
            <primaddress>1024</primaddress>
            <auxaddress>48</auxaddress>
            <offset>8</offset>
            <state>
                <name>Init</name>
                <value>0</value>
            </state>
            <state>
                <name>Idle</name>
                <value>1</value>
            </state>
            <state>
                <name>Precharge</name>
                <value>2</value>
            </state>
            <state>
                <name>Drivesetup</name>
                <value>3</value>
            </state>
            <state>
                <name>Drive</name>
                <value>4</value>
            </state>
            <state>
                <name>Overcurrent</name>
                <value>5</value>
            </state>
            <condition>
                <name>Throttle Pressed</name>
                <auxaddress>0</auxaddress>
				<offset>1</offset>
            </condition>
            <condition>
                <name>Throttle Implausibility</name>
                <auxaddress>0</auxaddress>
				<offset>2</offset>
            </condition>
            <condition>
                <name>Over Current Limit</name>
                <auxaddress>0</auxaddress>
				<offset>3</offset>
            </condition>
            <condition>
                <name>Safty loop Closed</name>
                <auxaddress>0</auxaddress>
				<offset>4</offset>
            </condition>
            <condition>
                <name>Drive Button Pressed</name>
                <auxaddress>0</auxaddress>
				<offset>5</offset>
            </condition>
            <condition>
                <name>Break Pressed</name>
                <auxaddress>0</auxaddress>
				<offset>6</offset>
            </condition>
            <condition>
                <name>Motor Controller Active</name>
                <auxaddress>0</auxaddress>
				<offset>7</offset>
            </condition>
            <condition>
                <name>Throttle Voltage over 0.5V</name>
                <auxaddress>0</auxaddress>
				<offset>8</offset>
            </condition>
        </statemachine>
		<sensors>
            <sensor>
                <id>4</id>
                <name>MCVoltage</name>
                <primaddress>1024</primaddress>
                <auxaddress>8</auxaddress>
                <offset>8</offset>
                <checkrate>4000</checkrate>
                <main>1</main>
                <unit>V</unit>
                <minimum>-1</minimum>
                <maximum>24</maximum>
                <minresponse>0</minresponse>
                <maxresponse>0</maxresponse>
                <calmultiplier>1</calmultiplier>
            </sensor>
            <sensor>
                <id>3</id>
                <name>TSVVoltage</name>
                <primaddress>1024</primaddress>
                <auxaddress>16</auxaddress>
                <offset>8</offset>
                <checkrate>4000</checkrate>
                <main>1</main>
                <unit>V</unit>
                <minimum>-1</minimum>
                <maximum>100</maximum>
                <minresponse>0</minresponse>
                <maxresponse>0</maxresponse>
                <calmultiplier>1</calmultiplier>
            </sensor>
            <sensor>
                <id>3</id>
                <name>Cooling Temp1</name>
                <primaddress>1024</primaddress>
                <auxaddress>24</auxaddress>
                <offset>8</offset>
                <checkrate>4000</checkrate>
                <main>1</main>
                <unit>C</unit>
                <minimum>0</minimum>
                <maximum>70</maximum>
                <minresponse>0</minresponse>
                <maxresponse>0</maxresponse>
                <calmultiplier>1</calmultiplier>
		<calpoly>
                	<coef>139.94</coef>
                        <coef>-2.3157</coef>
                        <coef>0.022</coef>
                        <coef>-0.0001</coef>
			<coef>0.0000002</coef>
                </calpoly>
            </sensor>
		<sensor>
			<id>3</id>
			<name>Flow Rate</name>
			<primaddress>1024</primaddress>
			<auxaddress>40</auxaddress>
			<offset>8</offset>
			<checkrate>4000</checkrate>
			<main>1</main>
			<unit>L/m</unit>
			<minimum>0</minimum>
			<maximum>100</maximum>
			<minresponse>0</minresponse>
			<maxresponse>0</maxresponse>
			<calmultiplier>1</calmultiplier>
			<calpoly>
                	        <coef>0.0605</coef>
                       	 	<coef>0.03314</coef>
                	</calpoly>
		</sensor>
		<sensor>
                        <id>3</id>
                        <name>TSI Current</name>
                        <primaddress>1024</primaddress>
                        <auxaddress>56</auxaddress>
                        <offset>8</offset>
                        <checkrate>4000</checkrate>
                        <main>1</main>
                        <unit>A</unit>
                        <minimum>0</minimum>
                        <maximum>20</maximum>
                        <minresponse>0</minresponse>
                        <maxresponse>0</maxresponse>
                        <calmultiplier>0.1</calmultiplier>
                </sensor>
		</sensors>
	</subsystem>
	<subsystem>
		<name>GLV</name>
		<maxrate>500</maxrate>
		<minrate>1000</minrate>
		<bootsequence>
			<booti2c>2572544</booti2c>
			<booti2c>2565</booti2c>
			<booti2c>523</booti2c>
			<booti2c>260</booti2c>
			<booti2c>770</booti2c>
		</bootsequence>
		<sensors>
			<sensor>
				<id>11</id>
				<name>GLVCurrent</name>
				<alias>GCUR</alias>
				<i2caddress>64</i2caddress>
				<i2creadpointer>4</i2creadpointer>
				<i2cconfigdata>2572544</i2cconfigdata>
				<i2cconfigdata>2565</i2cconfigdata>
				<i2cdatafield>16</i2cdatafield>
				<i2creaddelayus>20000</i2creaddelayus>
				<checkrate>3000</checkrate>
				<main>1</main>
				<unit>A</unit>
				<minimum>0</minimum>
				<maximum>10</maximum>
				<minresponse>0</minresponse>
				<maxresponse>0</maxresponse>
				<calmultiplier>0.001</calmultiplier>
			</sensor>
			<sensor>
				<id>12</id>
				<name>F1 Signal</name>
				<gpiopin>19</gpiopin>
				<checkrate>4500</checkrate>
				<main>1</main>
				<minimum>-1</minimum>
				<maximum>2</maximum>
				<minresponse>0</minresponse>
				<maxresponse>0</maxresponse>
				<calmultiplier>1</calmultiplier>
			</sensor>
			<sensor>
				<id>13</id>
				<name>F2 Signal</name>
				<gpiopin>26</gpiopin>
				<checkrate>5500</checkrate>
				<main>1</main>
				<minimum>-1</minimum>
				<maximum>2</maximum>
				<minresponse>0</minresponse>
				<maxresponse>0</maxresponse>
				<calmultiplier>1</calmultiplier>
			</sensor>
			<sensor>
				<id>14</id>
				<name>GLVTemp</name>
				<i2caddress>16</i2caddress>
				<i2creadpointer>64</i2creadpointer>
				<i2cconfigdata>523</i2cconfigdata>
				<i2cconfigdata>260</i2cconfigdata>
				<i2cconfigdata>770</i2cconfigdata>
				<i2cdatafield>12</i2cdatafield>
				<i2creaddelayus>20</i2creaddelayus>
				<checkrate>5000</checkrate>
				<main>1</main>
				<unit>C</unit>
				<minimum>20</minimum>
				<maximum>50</maximum>
				<minresponse>0</minresponse>
				<maxresponse>0</maxresponse>
				<calconstant>-283.97</calconstant>
				<calmultiplier>0.37679</calmultiplier>
			</sensor>
			<sensor>
				<id>15</id>
				<name>GLVVoltage</name>
				<alias>GVOL</alias>
				<i2caddress>64</i2caddress>
				<i2creadpointer>2</i2creadpointer>
				<i2cconfigdata>2572544</i2cconfigdata>
				<i2cdatafield>16</i2cdatafield>
				<i2creaddelayus>20000</i2creaddelayus>
				<checkrate>5000</checkrate>
				<main>1</main>
				<unit>V</unit>
				<minimum>12</minimum>
				<maximum>25</maximum>
				<minresponse>5</minresponse>
				<normresponse>4</normresponse>
				<maxresponse>5</maxresponse>
				<calmultiplier>0.00125</calmultiplier>
			</sensor>
			<sensor>
                                <id>16</id>
                                <name>GLVPower</name>
                                <i2caddress>64</i2caddress>
                                <i2creadpointer>3</i2creadpointer>
                                <i2cconfigdata>2572544</i2cconfigdata>
				<i2cconfigdata>2565</i2cconfigdata>
                                <i2cdatafield>16</i2cdatafield>
                                <i2creaddelayus>20000</i2creaddelayus>
                                <checkrate>5000</checkrate>
                                <main>1</main>
                                <unit>W</unit>
                                <minimum>0</minimum>
                                <maximum>20</maximum>
                                <calmultiplier>0.025</calmultiplier>
                        </sensor>
			<sensor>
				<id>18</id>
				<name>GLVPower_Cal</name>
				<checkrate>5000</checkrate>
				<main>1</main>
				<minimum>0</minimum>
				<maximum>40</maximum>
				<unit>W</unit>
				<sensoroperation>
					<operation>AVG</operation>
					<opalias>GCUR</opalias>
					<opalias>GVOL</opalias>
				</sensoroperation>
			</sensor>
		</sensors>
	</subsystem>
	<subsystem>
		<name>HUFFBOX</name>
		<maxrate>500</maxrate>
		<minrate>1000</minrate>
		<sensors>
			<sensor>
				<id>17</id>
				<name>Strain Gauge</name>
				<checkrate>5000</checkrate>
				<main>1</main>
				<minimum>0</minimum>
				<maximum>40</maximum>
				<unit>ftLbs</unit>
				<calmultiplier>-75.018</calmultiplier>
				<calconstant>-107.33</calconstant>
				<usbchannel>1</usbchannel>
			</sensor>
		</sensors>
	</subsystem>
</system>

