<subsystems>
	<subsystem>
		<name>TSV</name>
		<maxrate>500</maxrate>
		<minrate>3000</minrate>
		<sensors>
			<sensor>
				<name>TSVSensor</name>
				<canaddress>256</canaddress>
				<checkrate>5000</checkrate>
				<minimum>4</minimum>
				<maximum>143</maximum>
				<minreaction>0</minreaction>
				<maxreaction>2</maxreaction>
			</sensor>
			<sensor>
				<name>TSVMISC</name>
				<canaddress>273</canaddress>
				<checkrate>6000</checkrate>
				<minimum>34</minimum>
				<maximum>70</maximum>
				<minreaction>1</minreaction>
				<maxreaction>0</maxreaction>
			</sensor>
		</sensors>
	</subsystem>
	<subsystem>
		<name>COOLING</name>
		<maxrate>500</maxrate>
		<minrate>4000</minrate>
		<sensors>
			<sensor>
				<name>COOLINGOne</name>
				<gpiopin>23</gpiopin>
				<checkrate>7000</checkrate>
				<minimum>1</minimum>
				<maximum>4</maximum>
				<minreaction>4</minreaction>
				<maxreaction>5</maxreaction>
			</sensor>
		</sensors>
	</subsystem>
	<subsystem>
		<name>TSI</name>
		<maxrate>1000</maxrate>
		<minrate>2000</minrate>
		<sensors>
			<sensor>
				<name>TSITemp</name>
				<canaddress>819</canaddress>
				<checkrate>4000</checkrate>
				<minimum>10</minimum>
				<maximum>40</maximum>
				<minreaction>0</minreaction>
				<maxreaction>3</maxreaction>
			</sensor>
		</sensors>
	</subsystem>
	<subsystem>
		<name>GLV</name>
		<maxrate>500</maxrate>
		<minrate>1000</minrate>
		<sensors>
			<sensor>
				<name>GLVTemp</name>
				<canaddress>1092</canaddress>
				<checkrate>3000</checkrate>
				<minimum>10</minimum>
				<maximum>30</maximum>
				<minreaction>0</minreaction>
				<maxreaction>3</maxreaction>
			</sensor>
			<sensor>
				<name>GLVStatus</name>
				<canaddress>1365</canaddress>
				<checkrate>4500</checkrate>
				<minimum>5</minimum>
				<maximum>20</maximum>
				<minreaction>0</minreaction>
				<maxreaction>3</maxreaction>
			</sensor>
			<sensor>
				<name>GLVOther</name>
				<canaddress>1638</canaddress>
				<checkrate>5500</checkrate>
				<minimum>2</minimum>
				<maximum>23</maximum>
				<minreaction>0</minreaction>
				<maxreaction>1</maxreaction>
			</sensor>
			<sensor>
				<name>GLVI2C</name>
				<i2caddress>5</i2caddress>
				<checkrate>5000</checkrate>
				<minimum>20</minimum>
				<maximum>50</maximum>
				<minreaction>4</minreaction>
				<maxreaction>5</maxreaction>
			</sensor>
		</sensors>
	</subsystem>
</subsystems>
